.container {
  font-family: sans-serif;
  padding-top: 15px;
}

.header {
  text-align: center;
}

.items-entered-box {
  padding-top: 15px;
}

.alert-msg {
  padding-top: 25px;
}

.items-data-table {
  padding-top: 25px;
}

.items-purchased-total-cost {
  padding-top: 10px;
}
